Button{
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-background-color: #00000000;
    -fx-text-fill: #FFFFFFFF
}

Button:hover{
    -fx-background-color: black;
}

.grey-bg{
    -fx-background-color: darkgrey;
    -fx-font-size: 16px;
}

.white-text{
    -fx-text-fill: #FFFFFFFF
}